@model List<ResultMenuTableDto>
@{
    ViewData["Title"] = "TableListByStatus";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Anlık Masa Durumları</h4>
		<div class="row">
			@foreach(var item in Model)
			{
				<div class="col-md-3">
					<div class="card card-stats @(item.Status == false ? "card-danger" : "card-success")">
						<div class="card-body ">
							<div class="row">
								<div class="col-5">
									<div class="icon-big text-center">
										<i class="la la-certificate"></i>
									</div>
								</div>
								<div class="col-7 d-flex align-items-center">
									<div class="numbers">
										<p class="card-category">@item.Name</p>
										<h4 class="card-title">@(item.Status == true ? "Masa Dolu" : "Masa Boş")</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			}
		</div>
	</div>
</div>
